nav.navigation {
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
}

 h1 {
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 15px;
	color: #857ecd;
	font-size: 25px;
	text-transform: capitalize;
	letter-spacing: 3px;
	font-weight: 900;
	align-items: center;
	margin: 0 6rem;
	width: 100%;
}

.btn{
	border: none;
    background: grey;
    color: white;
    padding: 7px 20px;
    border-radius: 12px;
    font-weight: bold;
}

.search{
    height: 2rem;
    width: 85%;
    border-radius: 12px;
    outline: none;
    border: none;
    margin-right: 10px;
    padding: 5px 10px;
	color: gray;
}

.searchDiv{
	width: 100%;
    margin-left: 8rem;
}

.sortDiv{
	margin-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hover{
	cursor: pointer;
}

.selected{
	background-color: green;
}